body {
    background-size: cover;
    background-color: rgb(21, 21, 21);
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 5px;
    font-family: 'Nunito', sans-serif; 
}


header{
    color: antiquewhite;
    grid-row: 1;
    grid-column: 1/11;
    padding-bottom: 0%;
    padding-top: 0%;
}

#header-img{
    position: relative;
    width: 100%;
    height: 350px; 
    opacity: 60%;
    padding: auto;
    margin: 0%;
    grid-column: 1/11;
}

#name-box {
    grid-column: 1/11;
    grid-row: 1;
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);     
}

#name{
    color: #95ff00;
    text-shadow: -1px 1px 2px #00ff28,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    grid-column: 1/11;
    grid-row: 1;
    text-align: center;
    font-size: 150px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 2%;
    font-weight: 1000;
}

#nav-AM{    
    color: #02FFE1;
    text-align: center;
    text-shadow: -1px 1px 2px #000AFF,
                1px 1px 2px #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
    grid-column: 2/4;
    grid-row: 2;
    font-size: 50px;
    padding-top: 0%;
    padding-bottom: 5%;
    font-weight: 1000;
}

#nav-P{    
    color: #02FFE1;
    text-align: center;
    text-shadow: -1px 1px 2px #000AFF,
                1px 1px 2px #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
    grid-column: 5/7;
    grid-row: 2;
    font-size: 50px;
    padding-top: 0%;
    padding-bottom: 5%;
    font-weight: 1000;
}

#nav-C{    
    color: #02FFE1;
    text-align: center;
    text-shadow: -1px 1px 2px #000AFF,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    grid-column: 7/11;
    grid-row: 2;
    font-size: 50px;
    padding-top: 0%;
    padding-bottom: 5%;
    font-weight: 1000;
}

#gif1{
    grid-row: 3;
    grid-column: 1/11;
    padding-top: 0%;
    text-align: center;
    margin-top: 0%;
    margin: 0%;
 
}

#box2 {
    color:#B98AFF;
    grid-column: 1/11;
    grid-row: 4;
    text-align: center;
    text-shadow: -1px 1px 2px #6702ff,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    font-size: 65px;
    padding-top: 10%;
    margin-bottom: 0%;
    font-weight: 1000;
}

#head-shot{
    color: white;
    grid-column: 1/3;
    grid-row: 5;
    width: 200%;
    height:auto; 
}

#box3 {
    color: white;
    grid-column: 5/11;
    grid-row: 5;
    font-size: 26px;
    text-align: left;
    padding-top: 6%;
    padding-right: 3%;
    text-shadow: -1px 1px 2px #6702ff,
                1px 1px 2px #6702ff,
                1px -1px 0 #6702ff,
                -1px -1px 0 #6702ff;

}


#box4 {
    color:#B98AFF;
    grid-column: 1/11;
    grid-row: 6;
    text-align: center;
    text-shadow: -1px 1px 2px #6702ff,
                1px 1px 2px #6702ff,
                1px -1px 0 #6702ff,
                -1px -1px 0 #6702ff;
    font-size: 60px;
    padding-top: 10%;
    margin-bottom: 0%;
    font-weight: 1000;
}

#box5{
    color: white;
    grid-column: 1/7;
    grid-row: 7;
    font-size: 24px;
    text-align: left;
    padding-left: 5%;
    text-shadow: -1px 1px 2px #6702ff,
                1px 1px 2px #6702ff,
                1px -1px 0 #6702ff,
                -1px -1px 0 #6702ff;
}

#pod-par{
    color: white;
    grid-column: 1/7;
    grid-row: 7;
    font-size: 24px;
    text-align: left;
    padding-left: 5%;
    padding-top: 50%;
    text-shadow: -1px 1px 2px #6702ff,
                1px 1px 2px #6702ff,
                1px -1px 0 #6702ff,
                -1px -1px 0 #6702ff;
}

#pod-pic{
    color: #EC54AD;
    grid-column: 7/11;
    grid-row: 7;
    width: 80%;
    height:auto;
   padding-left: 10%;
   padding-top: 0%;
}

#player{
    grid-column: 1/7;
    grid-row: 7;
    font-size: 20px;
    text-align: left;
    padding-left: 5%;
    padding-top: 75%;
    padding-bottom: 1%;
}

#box7{
    color:#B98AFF;
    grid-column: 1/11;
    grid-row: 9;
    text-align: center;
    text-shadow: -1px 1px 2px #6702ff,
				  1px 1px 2px #6702ff,
				  1px -1px 0 #6702ff,
				  -1px -1px 0 #6702ff;
    font-size: 60px;
    padding-top: 10%;
    margin-bottom: 0%;
    font-weight: 1000;
}

#box-mail{
    color: #EC54AD;
    grid-column: 2/4;
    grid-row: 10;    
    text-align: center;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    font-size: 30px;
    padding-top: 0%;
    padding-bottom: 0%;
}

#box-insta{
    color: #EC54AD;
    grid-column: 5/7;
    grid-row: 10;    
    text-align: center;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    font-size: 30px;
    padding-top: 0%;
    padding-bottom: 0%;
}

#box-twitter{
    color: #EC54AD;
    text-align: center;
    text-shadow: -1px 1px 2px #6702ff,
				  1px 1px 2px #6702ff,
				  1px -1px 0 #6702ff,
				  -1px -1px 0 #6702ff;
    font-size: 24px;
    grid-column: 7/11;
    grid-row: 10;    
    text-align: center;
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    font-size: 30px;
    padding-top: 0%;
    padding-bottom: 0%;
}

footer{
    color: white;
    grid-column: 1/10;
    grid-row: 12;
    padding-top: 10%;    
}

#gif2{
    grid-row: 11;
    grid-column: 1/11;
    padding-top: 0%;
    text-align: center;
    margin-top: 0%;
    margin: 0%;
 
}
